.navbar-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    width: 100%;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}
.menu a{
    text-transform: uppercase;
    font-size: 28px;
}

.menu a:hover {
    background-color: rgba(53, 53, 53, 0.3);
    transition: .4s;
}

.navimg{
    width: 200px;
    height: 120px;
}

.menu-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    text-align: center;
    height: 85vh;
}

.item-cart-product img{
    object-fit: cover;
}