.navbar-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    width: 100%;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}
.menu a{
    text-transform: uppercase;
    font-size: 28px;
}

.menu a:hover {
    background-color: rgba(53, 53, 53, 0.3);
    transition: .4s;
}

.navimg{
    width: 200px;
    height: 120px;
}

.menu-cart{
    overflow-y: auto;
    max-height: 350px;
    width:22vw;
}

.item-cart-product{
    display:grid;
    grid-template-columns: 4fr 3fr 1fr;
    padding:5% 2%;
    border-bottom:solid 1px lightgray;  
}

.item-cart-product img{
    width:100%;
}

.details{
    padding-left:10%;
}

.item-cart-product p{
    text-align: left; 
    margin-bottom:15%;
}

.total{
    text-align: right;
    padding:5%;
}

.btn-all{
    display: flex;
    justify-content: center;
}

.btn-delete-all{
    background-color: red;
    width: 100px;
    height: 40px;
}