.navbar-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    width: 100%;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}
.menu a{
    text-transform: uppercase;
    font-size: 28px;
}

.menu a:hover {
    background-color: rgba(53, 53, 53, 0.3);
    transition: .4s;
}

.navimg{
    width: 200px;
    height: 120px;
}

